Django
scikit-learn
python-docx
PyMuPDF
Pillow
python-dotenv
WeasyPrint
google-generativeai
celery
redis
eventlet
django-crispy-forms
crispy-tailwind
whitenoise
psycopg2-binary
django-storages
boto3
icalendar
django-allauth
PyJWT
cryptography
beautifulsoup4
gunicorn
dj-database-url
django-ratelimit>=4.0.0
bleach>=6.0.0
django-anymail[resend]