Django
scikit-learn
python-docx
PyMuPDF
Pillow
python-dotenv
WeasyPrint
google-generativeai
celery
redis
eventlet
django-crispy-forms
crispy-tailwind
whitenoise
psycopg2-binary
django-storages
boto3
icalendar
django-allauth
cryptography
beautifulsoup4